.button {
  padding: 10px 30px;
  margin: 10px;
  font-size: 18px;
  border: 0;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: var(--primary-color);
  }
  &:active {
    background-color: var(--tertiary-color);
  }
}

.header {
  font-size: 56px;
  margin: 20px;
  /* position: relative; */
  &::after,
  &::before {
    position: absolute;
    transform: translate(0, 1400%);
    content: "";
    width: 38%;
    height: 3px;
    background-color: var(--accent-color);
  }
  &::before {
    left: 20px;
  }
  &::after {
    right: 20px;
  }
}

.main {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.text {
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(50), cursor 0.3s step-end infinite alternate;
}

.divider {
  border: 1px solid var(--accent-color);
  width: 98%;
  margin: 0 auto;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.main_navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  /* background-color: var(--secondary-color); */
  backdrop-filter: blur(40px);
}

.navbar_header {
  cursor: default;
}

.mini_navbar {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
  list-style: none;
}

.mini_navbar_paragraf {
  cursor: pointer;
  position: relative;
  &::after {
    content: " ";
    position: absolute;
    background-color: var(--accent-color);
    transition: 0.3s;
    left: 50%;
    transform: translate(-50%, 1100%);
    width: 0;
    height: 2px;
  }
  &:hover::after {
    width: 150%;
  }
}

.slidebar_container {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 0;
  height: 35vh;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 3px 2px;
  border-radius: 0 5px 5px 0;
}

.slidebar_icon {
  box-sizing: content-box;
  padding: 10px;
  background-color: var(--accent-color);
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--tertiary-color);
  }
}

.main_home {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.home_text_container {
  width: 65%;
}

.home_header {
  font-size: 42px;
  position: relative;
  &::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 25%;
    width: 55%;
    height: 3px;
    transform: translate(0, 1000%);
    background-color: var(--accent-color);
  }
}

.home_header_paragraf {
  width: 600px;
  font-size: 52px;
}

.home_img_container {
  width: 35%;
}

.home_img {
  width: 100%;
}

.home_btn {
  padding: 8px 25px;
  margin: 10px;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.home_btn:nth-child(1) {
  border: 0;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  &:hover {
    background-color: var(--primary-color);
  }
  &:active {
    background-color: var(--tertiary-color);
  }
}

.home_btn:nth-child(2) {
  border: 1px solid var(--accent-color);
  background-color: var(--secondary-color);
  &:hover {
    background-color: var(--primary-color);
  }
  &:active {
    background-color: var(--tertiary-color);
  }
}

.main_about {
  max-width: 550px;
}

.about_paragraf {
  font-size: 20px;
  margin: 2rem 0;
}

.main_skils {
  max-width: 800px;
}

.skills_icon {
  box-sizing: content-box;
  margin: 10px;
  padding: 10px;
  font-size: 44px;
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--secondary-color);
  transition: 0.3s;
  &:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
  }
}

.skils_paragraf {
  font-size: 17px;
  margin: 10px;
  color: var(--secondary-text-color);
}

.skils_container {
  margin: 10px;
  width: 100%;
}

.main_projects {
  max-width: 95%;
}

.projects_container {
  width: 95%;
  margin: 20px auto;
}

.project_container {
  display: flex;
  background-color: var(--tertiary-color);
  padding: 15px;
  margin: 50px 10px;
  border-radius: 20px;
}

.project_container:nth-child(odd) {
  flex-direction: row-reverse;
}

.project_container:nth-child(odd) .project_about_container {
  align-items: start;
}

.project_container:nth-child(odd) .project_description {
  text-align: left;
}

.project_about_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 15px;
}

.project_title {
  margin: 10px;
  color: var(--text-color);
}

.project_description {
  text-align: right;
  color: var(--secondary-text-color);
  margin: 10px;
}

.project_btn_container {
  margin: 10px;
}

.project_img_container {
  width: 50%;
  border-radius: 10px;
}

.project_img {
  width: 100%;
  border-radius: 10px;
}

.contact_form {
  /* width: 40%; */
  width: 40%;
  display: flex;
  flex-direction: column;
}

.contact_input,
.contact_text_area {
  padding: 10px 30px;
  margin: 5px 10px;
  font-size: 18px;
  border: 0;
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--text-color);
  outline: none;
  &::placeholder {
    color: var(--secondary-text-color);
  }
}

.contact_text_area {
  height: 200px;
}

.footer_main {
  width: 95%;
  margin: 2px auto;
  display: flex;
  justify-content: space-between;
}
