.main_navbar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.navbar_header {
  cursor: default;
}

.mini_navbar {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
  list-style: none;
}

.mini_navbar_paragraf {
  cursor: pointer;
  position: relative;
  &::after {
    content: " ";
    position: absolute;
    background-color: var(--accent-color);
    transition: 0.3s;
    left: 50%;
    transform: translate(-50%, 1100%);
    width: 0;
    height: 2px;
  }
  &:hover::after {
    width: 150%;
  }
}

.slidebar_container {
  position: absolute;
  top: 50%;
  left: 0;
  height: 35vh;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 3px 2px;
  border-radius: 0 5px 5px 0;
}

.slidebar_icon {
  box-sizing: content-box;
  padding: 10px;
  background-color: var(--accent-color);
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--tertiary-color);
  }
}

.main_home {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: space-between;
  align-items: center;
}

.home_text_container {
  width: 65%;
}

.home_header {
  font-size: 42px;
  position: relative;
  &::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 25%;
    width: 70%;
    height: 3px;
    transform: translate(0, 1000%);
    background-color: var(--accent-color);
  }
}

.home_header_paragraf {
  font-size: 52px;
}

.home_img_container {
  width: 35%;
}

.home_img {
  width: 100%;
}

.home_btn:nth-child(1) {
  padding: 8px 25px;
  margin: 10px;
  font-size: 16px;
  border: 0;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: var(--primary-color);
  }
  &:active {
    background-color: var(--tertiary-color);
  }
}

.home_btn:nth-child(2) {
  padding: 8px 25px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid var(--accent-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: var(--primary-color);
  }
  &:active {
    background-color: var(--tertiary-color);
  }
}
