@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #7797a2;
  --secondary-color: #e2e2e2;
  --tertiary-color: #b3c8cf;
  --accent-color: #89a8b2;

  --text-color: #1e1e1e;
  --secondary-text-color: #494949;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quantico", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
  background-color: var(--secondary-color);
}
